.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.score-list,
.wrapper-score-submit {
  border: 0.5px solid #000;
  width: 40%;
}

.btn-refresh {
  width: 120px;
  height: 30px;
  margin: 25px 0 0 150px;
}

.score-list-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.score-list-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.score-list-row p {
  margin: 10px;
}
